.reffOne.my-5(class=side=== "side" ? "" : "l-border")
    div(class=side=== "side" ? "pr-6" : "pl-6")
        h4.font-weight-bolder=reff.RefName
        h4.font-weight-bolder=reff.RefJob
        div 
            p Email:
                span=reff.RefMail
            p Phone:
                span=reff.RefPhone